
<form (ngSubmit)="onRegister()" #myForm="ngForm" class="form-exercise">
  <h2>Formulario</h2>
  <div class="input-group">
    <input class="input-form" type="text" placeholder="Name" name="name" required id="name" [(ngModel)]="register.name">
  </div>
  <div class="input-group">
    <input class="input-form" type="email" placeholder="Email" name="email" required id="email" pattern="[a-zA-Z].*@.*\.com" [(ngModel)]="register.email">
  </div>
  <div class="input-group">
    <input class="input-form" type="password" placeholder="Password" name="password" required id="password" [(ngModel)]="register.password">
  </div>
  <button class="buttonSend" [disabled]="myForm.invalid" type="submit">Send</button>
</form>
