*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-exercise{
  width: 400px;
  background:#24303c;
  padding: 30px;
  margin: auto;
  margin-top: 200px;
  border-radius: 10px;
  font-family: 'calibri';
  color: white;
}

.form-exercise h2{
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
}

.input-form{
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
}

.buttonSend{
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 18px;
  border-radius: 5px;
}
